{% extends "layout.html" %}
{% block title %} Sign In {% endblock %}
{% block head %}
{{ super() }}
<link type="text/css" href="static/styles/login_form.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <form class="form-group">
    <h3>Please sign in</h3>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <input id="inputRememberMe" type="checkbox" value="remember-me">Remember me
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="sign_in">Sign In</button>
  </form>
</div>
{% endblock %}
